# Analise de dados olimpicos entre 1896 e 2016, utilizando a base de dados athlete_events.csv oobtida no site da kaggle e o pacote pandas.

## Importação dos pacotes e da base de dados

In [1]:
# importação do pacote pandas
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [2]:
df_atletas = pd.read_csv("athlete_events.csv")

## Primeiras interações cpm o dataframe

In [3]:
df_atletas.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

### Tamanho do dataframe

In [4]:
df_atletas.shape

(271116, 15)

### Tipo de dados por coluna

In [5]:
df_atletas.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

### Renomeando as colunas

In [6]:
df_atletas.rename(columns={"Name":"Nome", "Sex": "Sexo", "Age":"Idade", "Height":"Altura",
                        "Weight":"Peso", "Team": "Equipe", "Games":"Jogos", "Year":"Ano",
                        "Season": "Temporada", "City":"Cidade", "Sport":"Esporte",
                        "Event":"Evento", "Medal":"Medalha"}, inplace = True)

In [7]:
df_atletas.head()

,ID,Nome,Sexo,Idade,Altura,Peso,Equipe,NOC,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Excluindo colunas desnecessárias

A coluna ID será excluida. As informações contindas nacoluna **Jogos** econtrm-se divididas nas colunas **Ano** e **Temporada**. Logo a coluna Jogos será desoconsiderada.

In [8]:
df_atletas.drop("ID", axis = 1, inplace = True)

In [9]:
df_atletas.drop("Jogos", axis = 1, inplace = True)

In [10]:
df_atletas.head(2)

,Nome,Sexo,Idade,Altura,Peso,Equipe,NOC,Ano,Temporada,Cidade,Esporte,Evento,Medalha
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN