# Analise da base de dados de vendas *AdventureWorks*

## Importação dos pacotes e do arquivo xlsx

In [2]:
#Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")
import seaborn as sn

In [3]:
#Criando nosso DataFrame
df_aw = pd.read_excel("AdventureWorks.xlsx")

## Interações básicas com o dataframe

In [4]:
#Visualizando as 5 primeiras linhas
df_aw.head(2)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
1,2008-05-12,2008-05-17,306,384,19051,200805123CS567,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red

In [5]:
#Quantidade de linhas e colunas
df_aw.shape

(904, 16)

In [6]:
#Verificando os tipos de dados
df_aw.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

##  Verificando os valores de venda e obtendo valores de custo e lucro

In [7]:
# Verificandoi a Receita total!
df_aw["Valor Venda"].sum()

5984606.1426

In [8]:
# Obtendo o custo total:
# custo = custo_unitario x quantidade
# custo_total = custo.sum()
df_aw["custo"] = df_aw["Custo Unitário"].mul(df_aw["Quantidade"]) #Criando a coluna de custo

In [9]:
df_aw.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,custo
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,2091.48

In [10]:
# Calculando o custo Total com 2 casas decimais!
round(df_aw["custo"].sum(), 2)

2486783.05

In [11]:
# Obtendo o Lucro total:
# Lucro = Receita - Custo
# Lucro total = lucro.sum()
df_aw["lucro"]  = df_aw["Valor Venda"] - df_aw["custo"]

In [12]:
df_aw.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,custo,lucro
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,2091.48,2456.52

In [13]:
#Total Lucro
round(df_aw["lucro"].sum(),2)

3497823.09